body{
    background-color: #101d3e;
    color: #9CA839;
    direction: rtl;
}
h1{
    text-align: center;
}

#banner-1{
    height: 100%;
    width:100%;
    order: 2 
}
#banner-2{
    margin: 5rem;
    height: 100%;
    width:100%;
    order: 1;
}
.banners{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registration{
height: 30vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

#registration a button{
    color: #101d3e;
    background-color: #9CA839;
    font-size: 2rem;
    border-color: 1px aliceblue;
    cursor: pointer;
}